* {
    font-family: MiFuente;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: MiFuente;
    src: url('../Font/DancingScript-VariableFont_wght.ttf');
}

body {
    background-image: url(../image/fondo_rosa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

/* Header */

#navbar {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

header nav li {
    padding: 0 15px;
}

header nav a {
    transition: 1s !important;
}

header nav ul a:hover {
    color: rgb(255, 0, 43) !important;
    filter: drop-shadow(0 0 23px rgb(229, 8, 44)) !important;
    font-size: 35px !important;
}

/* Carousel */

.carousel-item img {
    height: 600px;
    object-fit: cover;
    filter: brightness(40%);
}

@media (max-width: 768px) {
    .carousel-item img {
        height: 400px;
    }
}

/* Index */

.titulo_inicio {
    position: absolute;
    filter: drop-shadow(0 0 10px white);
    top: 130px;
    margin-left: 100px;
    width: 80%
}

.titulo_inicio h1 {
    font-size: 40px;
    width: 100%;
}

@media (max-width: 768px) {
    .titulo_inicio {
        margin: 0 0 0 25px;
        top: 120px;
    }

    .titulo_inicio h3 {
        font-size: 15px !important;
        margin-top: 15px !important;
        width: 250px !important;
    }

    .titulo_inicio h1 {
        font-size: 20px !important;
    }
}

/* Cards */

.tarjetas_item {
    display: flex;
    justify-content: center;
    max-width: 100%;
}

.col {
    width: 480px;
    padding: 30px !important;
}

.tarjetas2 .card:hover {
    opacity: 70%;
}

.card {
    border-radius: 40px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .card {
        margin-bottom: 100px !important;
    }
}


/* Contacto */

.contacto_contendor {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: 300px;
    justify-content: center;
    align-items: center;
    column-gap: 120px;
    padding-top: 100px;
    max-width: 100%;
}

.contacto_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 2px solid #29343F;
    border-left: 2px solid #29343F;
    height: 200px;
}

.contacto_item h3 {
    font-size: 30px;
}

.contacto_item p {
    font-size: 25px;
    margin-top: 30px;
    font-style: italic;
}

.form_contacto {
    backdrop-filter: blur(100px);
    border: 3px solid rgba(255, 255, 255, 0.5);
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 400px 0 400px;
    padding: 50px 0 50px 0;
    border-radius: 25px;
}

.form_contacto h2 {
    font-size: 30px;
    margin-bottom: 15px;
}


.form_elemento {
    padding: 10px;
}

.form_elemento label {
    font-weight: bold;
    font-size: 25px;
    display: flex;
    margin-bottom: 10px;
}

.form_contacto input[type="button"] {
    padding: 20px;
    width: 400px;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s;
}

.form_elemento input,
textarea {
    width: 400px;
    max-width: 500px;
    height: 40px;
    font-size: 20px;
}

.form_elemento #mensaje {
    height: 100px;
}

.form_contacto .enviar:hover {
    background-color: #29343F;
    font-weight: bolder;
    color: white;
}

.form_contacto .enviar:active {
    background-color: #29343F;
    font-weight: bolder;
    color: white;
    font-size: 18px;
    padding: 20px;
    box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.4);
}

/* Eventos */

.eventos-container {
    height: 650px;
}

.evento-item {
    display: flex;
    height: 100%;
}

.evento-img {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: flex 0.1s linear;
    cursor: pointer;
}

.evento-img span {
    opacity: 0;
    transition: opacity 0.1s linear;
    font-size: 50px;
    color: black;
    filter: drop-shadow(0 0 5px white);
    margin-top: 20px;
}

.evento-img:nth-child(1) {
    background-image: url(../image/Evento1.jfif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.evento-img:nth-child(2) {
    background-image: url(../image/Evento2.jfif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.evento-img:nth-child(3) {
    background-image: url(../image/Eventos.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.evento-img:hover {
    flex: 2;
    filter: grayscale();
}

.evento-img:hover span {
    opacity: 1;
    color: black;
}

/* Menú */

.menu_contenedor {
    border: 1px solid #3f3f3f;
    display: grid;
    grid-template-columns: repeat(2, 450px);
    justify-content: center;
    align-items: center;
    column-gap: 80px;
    max-width: 100%;
    padding: 150px 0 100px 0;
}

.menu_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 200px;
    border-radius: 26px 58px;
    border: 1px solid #3f3f3f;
    grid-column: 1/2;
    padding: 15px;
}

.menu_item h2 {
    font-size: 25px;
    padding-bottom: 25px;
}

.menu_item p {
    font-size: 23px;
}

.menu_img {
    grid-column: 2/2;
    grid-row: 1/5;
    filter: drop-shadow(0 0 23px #3f3f3f);
    border-radius: 80%;
}

.menu_img img {
    border-radius: 5%;
    height: 800px;
}

.menu_titulo {
    font-size: 45px;
}

/* Excelencia Culinaria */

.excelencia_cont_items {
    display: grid;
    grid-template-columns: repeat(4, 280px);
    grid-template-rows: 300px;
    justify-content: center;
    align-items: center;
    padding: 200px 0 150px 0;
    gap: 30px;
    max-width: 100%;
}

@media (max-width: 1200px) {
    .excelencia_cont_items {
        grid-template-columns: repeat(2, 300px);
        padding-top: 300px;
        padding: 170px 0 20px 0;
        gap: 80px;
    }
}

@media (max-width: 768px) {
    .excelencia_cont_items {
        grid-template-columns: repeat(1, 0.7fr);
        grid-template-rows: repeat(4, 400px);
        padding-top: 300px;
        padding: 120px 0 20px 0;
    }
}

.excelencia_cont_items img {
    height: 50px;
}

.excelencia_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    margin: 10px 0 10px 0;
    background-color: transparent;
    border: 2px solid #4d5b69;
    border-radius: 10px;
}

.excelencia_item h2 {
    margin: 40px 0 40px 0;
    font-size: 30px;
}

.excelencia_item p {
    margin: 0 30px 10px 30px;
    font-size: 20px;
}


/* Footer */

footer {
    background-color: #4d5b69;
    max-width: 100%;
    width: 100%;
}

footer ul li img {
    height: 25px;
}

footer .whatsapp {
    height: 80px;
    margin-bottom: 25px;
}